<h1>{{title}}</h1>

<div><p>Image1</p>
<p>Image2</p>
<p>Image3</p>
</div>
<p>{{pageText}}</p>
<p>I have been trying to upload an image to my page, with no luck. I looked online and it says to add app.use(express.static('views/images')); this did not work for me. I also tried to hotlink an image in the layout.hbs and again I cannot get the image to load. Instead I will add Text on the website where my images would go. Because at this moment I have been looking now for 2+ hours how to do it with no success. So maybe Rich you can show me how to do it during class.</p>

<!-- I can't get images to work using express.js I have no idea how to do it. I've been looking at documents and they don't make much sense.-->


{{!-- <img src="../img/nickTesla.jpg" alt="Me at Nikola Tesla Monument, at Niagara Falls.">
<img src="../img/nickWater.jpg" alt="Me at Canisbay Island, at Algonquin Park."> --}}
