<h1>{{title2}}</h1>
<p>{{pageText2}}</p>
<p>First Express.js Website: <a href="https://lab2-meanclass.herokuapp.com/">https://lab2-meanclass.herokuapp.com/</a></p>
<p>Rock, Paper, Scissors! js console: <a href="https://codepen.io/nick-brazda/pen/NWbRdPE">https://codepen.io/nick-brazda/pen/NWbRdPE</a></p>
<p>GraphQL + Vue.JS WeatherApp!: <a href="https://codepen.io/nick-brazda/pen/BaLzbOY">https://codepen.io/nick-brazda/pen/BaLzbOY</a></p>
<p>Webcam Activate! I can activate your webcam: <a href="https://codepen.io/nick-brazda/pen/ZEpzJrz?editors=1111">https://codepen.io/nick-brazda/pen/ZEpzJrz?editors=1111</a></p>
<p>Who wants to be a millionaire game? <a href="https://codepen.io/nick-brazda/pen/LYEPRdV">https://codepen.io/nick-brazda/pen/LYEPRdV</a></p>
